@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Multani&display=swap');

h1{
color: red;
float: right;
}

h3 {
  color: blue;
}

.image-container {
  display: flex;
}

.container {
  display: flex;
  padding-left: 120PX;
}

.column {
  flex: 1;
}

#mon-bouton {
  background-color: red;
  color: white;
  border: none;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

#mon-bouton:not([disabled]):hover {
  background-color: rgb(255, 57, 57);
  cursor: pointer;
}
